/* Basket under 640px */
/* ------------------ */

.basket-item-card {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 10px; 
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(248, 248, 248);
}

.basket-card-pt1 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin: 10px;
}

.basket-card-pt2 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-end; 
    margin: 10px;
}

.basket-card-pt2 strong {
    margin-bottom: 10px; 
}


.basket-card-pt2 .input-img-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.basket-card-pt2 img {
    cursor: pointer;
    margin-left: 10px; 
}

.basket-section-mobile h1 {
    text-align: center;
    margin-top: 30px;
}

.basket-input {
    width: 100px;
    padding: 5px; 
    font-size: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-right: 10px; 
}

.basket-total-amount {
    text-align: start;
    margin: 20px 0px 20px 15px;
}

.basket-total-amount h3 {
    font-size: 18px
}

.basket-btn-container {
    text-align: center;
}

.basket-btn {
    width: 85%;
    font-size: 22px;
    margin: 20px 20px 30px 20px;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    background-color: rgb(216, 164, 31); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.trashcan-img {
    max-width: 40px;
}

@media (min-width: 640px) {

    .basket-section-mobile {
        display: none;
    }
}

/* Basket over 640px */
/* ------------------ */